B_BasicDataTypes/
C_SimpleCalculator/
D_Difference/
E_AreaOfACircle/
G_SumFrom1ToN/
I_WelcomeConditions/
J_muliples/
K_Max&Min/
L_TheBrothers/
M_CaptialOrSamllDigit/
M_mathimatical/
N_char/
O_calculator/
P_FristDigit/
Q_CoordinatesOfPoint/
R_AgeInDays/
S_Intervals/
sayHelloWithCpp/
T_SortNumbers/
U_FloatOrInt/
V_Comparison/
X_TwoInterval/
Y_LastTwoDigit/
z_hardCompate/

